@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: white;
}
header .title{
    font-weight: 900;
    font-size: 24px;
}
header ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
header ul li{
    list-style: none;
    margin-left: 24px;
}
header ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: #333;
    transition: .3s ease-in-out;
}
header ul li a:hover{
    font-weight: bold;
    color: #6D8B74;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.container-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    position: relative;
}
.container-1 h1{
    font-size: 80px;
    font-weight: bold;
}
.container-1 h2{
    font-size: 60px;
}
.container-1 em{
    font-style: normal;
    color: #6D8B74;
}
.container-1 p{
    width: 400px;

}
.container-2{
    width: 100%;
    height: 100vh;
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container-2 img{
    max-width: 60%;
    height: 100vh;
    max-height: 100vh;
}
.container-2 .right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    width: 40%;
    padding: 40px 60px;
    color: white;
}
.container-2 h1{
    font-size: 60px;
    font-weight: 900;
}
.container-3{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}