@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    font-family: 'Quicksand',sans-serif;
    padding: 0%;
    margin: 0%;
}
h2 {
    color: #00a2c6;
}

h3{
    color: #00a2c6;
}

main{
    overflow: auto;
    padding: 2em 2em 0em 2em;
}

footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}
nav{
    position: sticky;
    top: 0;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
nav a:hover{
    font-weight: bold;
}
#content{
    float: left;
    width: 75%;
}
.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
article{
    border-radius: 16px;
    margin: 0em 2em 2em 0em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
}
aside{
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    float: right;
    width: 25%;
    box-sizing: border-box;
}

.header-aside{
    text-align: center;
}

.persib-img{
    width: 200px;
}

.menu{
    margin: 0%;
    list-style: none;
    display: flex;
    background-color: #00a2c6;
    padding: 24px 48px;
}
.menu >li{
    margin-right: 16px;
}
.menu >li>a{
    font-style: none;
    color: white;
    text-transform: capitalize;
}
.jumbotron{
    background-color: #00c8eb;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 60px;
    margin: 0%;
}
@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
  }